<Style name="network-node-low">
  <Rule>
    {{ style.line(color.NNW) }}
  </Rule>
</Style>

{% call layer.query('NetworkNodeLow', min=zoom.z12, max=zoom.z11,
                    styles=["network-node-low"]) %}
  SELECT lowzoom_geom as geom FROM {{ table.routes }} WHERE network = 'NDS'
{% endcall %}
