<Style name="worldview-high">
  <Rule>
    <Filter>[level] &gt; 20</Filter>
    {{ style.line(color.INT, width="1.3") }}
  </Rule>
  <Rule>
    <ElseFilter />
    {{ style.line(color.NAT, linejoin="bevel") }}
  </Rule>
</Style>

{% call layer.query('WorldviewHigh', min=zoom.z5,
                    styles=['worldview-high']) %}
  SELECT ST_ChaikinSmoothing(ST_Simplify(lowzoom_geom, 10000)) as geom, level
  FROM {{ table.routes }}
  WHERE top and level >= {{ level.NWN }} - 3 order by level
{% endcall %}



<Style name="worldview-mid">
  <Rule>
    <Filter>[iwn]</Filter>
    {{ style.line(color.INT, width="2.0")}}
  </Rule>
  <Rule>
    <ElseFilter />
    {{ style.line(color.NAT, width="1.3")}}
  </Rule>
</Style>

{% call layer.query('WorldviewMid', max=zoom.z5, min=zoom.z7,
                    styles=['worldview-mid']) %}
  SELECT ST_ChaikinSmoothing(ST_Simplify(lowzoom_geom, 3000)) as geom, level {{ level.IWN_all }} as iwn
  FROM {{ table.routes }}
  WHERE level >= {{ level.NWN }} - 3 and top
  ORDER BY level
{% endcall %}

{% call layer.query('WorldviewMid', max=zoom.z7, min=zoom.z8,
                    styles=['worldview-mid']) %}
  SELECT ST_ChaikinSmoothing(ST_Simplify(lowzoom_geom, 2000)) as geom, level {{ level.IWN_all }} as iwn
  FROM {{ table.routes }}
  WHERE level >= {{ level.NWN }} - 3 and top
  ORDER BY level
{% endcall %}

{% call layer.query('WorldviewMid', max=zoom.z8, min=zoom.z9,
                    styles=['worldview-mid']) %}
  SELECT ST_ChaikinSmoothing(ST_Simplify(lowzoom_geom, 1000)) as geom, level {{ level.IWN_all }} as iwn
  FROM {{ table.routes }}
  WHERE level >= {{ level.NWN }} - 3 and top
  ORDER BY level
{% endcall %}



<Style name="worldview-low-rwn">
  <Rule>
    <Filter>[rwn] and not [nwn] and not [iwn]</Filter>
    {{ style.line(color.REG_shadow, width="1.5") }}
    {{ style.line(color.REG) }}
  </Rule>
</Style>

<Style name="worldview-low-inwn">
  <Rule>
    <Filter>[nwn] and [iwn]</Filter>
    {{ style.line(color.INT, linecap="square", width="5.5") }}
  </Rule>
  <Rule>
    <Filter>[iwn] and not [nwn]</Filter>
    {{ style.line(color.INT, width="4.0") }}
  </Rule>
</Style>

<Style name="worldview-low-nwn">
  <Rule>
    <Filter>[nwn]</Filter>
    {{ style.line(color.NAT, linecap="square", width="3.0") }}
  </Rule>
</Style>

{% call layer.query('WorldviewLow', max=zoom.z9, min=zoom.z10,
                    styles=['worldview-low-rwn', 'worldview-low-inwn', 'worldview-low-nwn']) %}
  SELECT geom100 as geom,
         {{ level.IWN_class }} > 0 as iwn,
         {{ level.NWN_class }} > 0 as nwn,
         {{ level.RWN_class }} > 0 as rwn
  FROM {{ table.style }}
  WHERE (class::bit(28) >> 7)::integer > 0
{% endcall %}



<Style name="worldview-shields">
  <Rule>
    {{ style.shield(spacing=400, margin=50, repeat=200) }}
  </Rule>
</Style>

{% call layer.query('WorldViewShieldsIwn', max=zoom.z7, min=zoom.z10, buffer=512,
                    styles=['worldview-shields']) %}
  SELECT ST_Simplify(lowzoom_geom, 1000) as geom, symbol as fname
  FROM {{ table.routes }}
  WHERE level {{ level.IWN_all }} and top and network IS NULL and symbol IS NOT NULL
{% endcall %}

{% call layer.query('WorldViewShieldsNwn', max=zoom.z9, min=zoom.z10, buffer=512,
                    styles=['worldview-shields']) %}
  SELECT ST_Simplify(lowzoom_geom, 1000) as geom, symbol as fname
  FROM {{ table.routes }}
  WHERE level {{ level.NWN_all }} and top and network IS NULL and symbol IS NOT NULL
{% endcall %}

