{% set INT = "#b20303" %}
{% set NAT = "#152eec" %}
{% set REG = "#ffa304" %}
{% set LOC = "#7d31c6" %}

{% set INT_bg = "#e10404" %}
{% set INT_dark = "#ae2929" %}

{% set NAT_bg = "#2b43f8"%}

{% set REG_light = "#ffcc00" %}
{% set REG_light2 = "#fdb23a" %}
{% set REG_shadow = "#a76f0f" %}
{% set REG_halo = "#c19ae6" %}
{% set LOC_halo = "#565256" %}
{% set LOC_light = "#af64f8"%}

{% set SWISS_RED = "#d30000" %}

{% set NNW = "#cc1f0c" %}
