{% macro query(name, min=None, max=None, buffer=None, styles=[]) -%}
<Layer name="{{name}}"{{ min | xmlarg("minimum-scale-denominator") }}{{ max | xmlarg("maximum-scale-denominator") }}{{ buffer | xmlarg("buffer-size") }}>
  <Datasource base="wmtdb">
    <Parameter name="table">({{ caller() | e }}) as w</Parameter>
  </Datasource>

  {% for style in styles -%}
  <StyleName>{{ style }}</StyleName>
  {% endfor %}
</Layer>
{%- endmacro %}
