{% macro shield(file="[fname].svg",
                spacing="0", tolerance="200", margin=10, repeat=50) -%}
    <ShieldSymbolizer base="syms" file="{{ file }}" placement="line" margin="{{ margin }}" horizontal-alignment="middle" face-name="Sans"{{ spacing | xmlarg('spacing') }}{{ repeat | xmlarg('repeat-distance') }}{{ tolerance | xmlarg('label-position-tolerance') }}>
    [fname]
    </ShieldSymbolizer>
{%- endmacro %}

{% macro node(text, font="DejaVu Sans Condensed Bold", transform=None) -%}
    <ShieldSymbolizer base="static" file="hikingnode.svg" dy="-1" allow-overlap="true" face-name="{{ font }}" vertical-alignment="middle" horizontal-alignment="middle"{{ transform | xmlarg('transform') }}>{{ text }}</ShieldSymbolizer>
{%- endmacro %}

{% macro line(color, linecap="round", linejoin="round", width=None, dasharray=None, gamma=None, opacity=None) -%}
    <LineSymbolizer stroke="{{ color }}" stroke-linecap="{{ linecap }}" stroke-linejoin="{{ linejoin }}"{{ width | xmlarg('stroke-width') }}{{ dasharray | xmlarg('stroke-dasharray') }}{{ gamma | xmlarg('stroke-gamma') }}{{ opacity | xmlarg('stroke-opacity') }} />
{%- endmacro %}
